
<main class="main">
  <nav class="bg-white border-2 border-gray-200 dark:border-gray-600 dark:bg-gray-900">
    <div class="flex border-gray-200 border-gray-200dark:border-gray-600 flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
      <a target="_blank" href="https://www.fundacionsafa.es/brocal/v2/index.php" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/logo_safa.jpeg" class="h-8" alt="Safa Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Safa Reyes</span>
      </a>
      <button data-collapse-toggle="mega-menu-full" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mega-menu-full" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
      <div id="mega-menu-full" class="items-center justify-between font-medium hidden w-full md:flex md:w-auto md:order-1">
        <ul class="flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <button id="mega-menu-full-dropdown-button" data-collapse-toggle="mega-menu-full-dropdown" class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded md:w-auto hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">Ejercicios <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg></button>
          </li>
        </ul>
      </div>
    </div>
    <div id="mega-menu-full-dropdown" class="mt-1 border-gray-200 shadow-sm bg-gray-50 md:bg-white border-y dark:bg-gray-800 dark:border-gray-600">
      <div class="grid max-w-screen-xl px-4 py-5 mx-auto text-gray-900 dark:text-white sm:grid-cols-2 md:px-6">
        <ul>
          <li>
            <a class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700" routerLink="/ejercicio1">
              <div class="font-semibold">Ejercicio 1</div>
              <span class="text-sm text-gray-500 dark:text-gray-400">Saluda a la persona que se identifica en el input</span>
            </a>
          </li>
          <li>
            <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700" routerLink="/ejercicio3">
              <div class="font-semibold">Ejercicio 3</div>
              <span class="text-sm text-gray-500 dark:text-gray-400">Mostrar y añadir tareas en una lista</span>
            </a>
          </li>
          <li>
            <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700" routerLink="/ejercicio5">
              <div class="font-semibold">Ejercicio 5</div>
              <span class="text-sm text-gray-500 dark:text-gray-400">Componente de Comentarios con &#64;Output()</span>
            </a>
          </li>
          <li>
            <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700" routerLink="/ejercicio7">
              <div class="font-semibold">Ejercicio 7</div>
              <span class="text-sm text-gray-500 dark:text-gray-400">Calculadora básica con suma, resta, multiplicación y división</span>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700" routerLink="/ejercicio2">
              <div class="font-semibold">Ejercicio 2</div>
              <span class="text-sm text-gray-500 dark:text-gray-400">Reloj en tiempo real con control de pausa</span>
            </a>
          </li>
          <li>
            <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700" routerLink="/ejercicio4">
              <div class="font-semibold">Ejercicio 4</div>
              <span class="text-sm text-gray-500 dark:text-gray-400">Cronómetro con control de pausa y reinicio</span>
            </a>
          </li>
          <li>
            <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700" routerLink="/ejercicio6">
              <div class="font-semibold">Ejercicio 6</div>
              <span class="text-sm text-gray-500 dark:text-gray-400">Gestión de productos con tabla y modal para su creación</span>
            </a>
          </li>
          <li>
            <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700" routerLink="/ejercicio8">
              <div class="font-semibold">Ejercicio 8</div>
              <span class="text-sm text-gray-500 dark:text-gray-400">Gestión interactiva de carrito de compras</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="content w-full p-8 pb-16">
    <router-outlet></router-outlet>
  </div>
</main>
