<mat-card class="w-[300px]">
  <mat-card-content>
    <mat-card-title class="w-full text-center p-3">
      <div class="flex w-full justify-between items-center">
        <span>{{ product.name }}</span>
        <span class="text-2xl">
          {{ product.price }} €
        </span>
      </div>
    </mat-card-title>

    <div class="flex justify-center items-center flex-col">
      <img mat-card-image src="{{ product.image }}" alt="{{ product.name }}" class="w-[200px] h-[200px] object-contain"/>
    </div>

  </mat-card-content>
  <mat-card-actions class="flex justify-center mt-3 gap-4 mb-3">
    <button mat-mini-fab (click)="decreaseQuantity()" [disabled]="product.quantity === 0">
      <mat-icon fontIcon="remove"/>
    </button>

    <span class="text-2xl">
      {{ product.quantity }}
    </span>

    <button mat-mini-fab (click)="increaseQuantity()">
      <mat-icon fontIcon="add"/>
    </button>
  </mat-card-actions>
</mat-card>
